.icon-ShowTickets,.icon-SiteLock,.icon-addon_domains,.icon-address_importer,.icon-aliases,.icon-analog_stats,.icon-anonymous_ftp,.icon-apache_handlers,.icon-apache_spam_assassin,.icon-application_manager,.icon-archive,.icon-attracta_cart,.icon-attracta_cart2,.icon-attracta_emailmarketing,.icon-attracta_emailmarketing3,.icon-attracta_getingoogle,.icon-attracta_increasewebsitetraffic,.icon-attracta_linkbuilding,.icon-attracta_seotools,.icon-attracta_socialmm2,.icon-attracta_wpthemes,.icon-attracta_wpthemes2,.icon-attracta_wpvisual,.icon-authentication,.icon-autoresponders,.icon-awstats,.icon-backup,.icon-backup_wizard,.icon-bandwidth,.icon-boxtrapper,.icon-calendar_and_contacts,.icon-change_language,.icon-change_password,.icon-change_style,.icon-clam_av,.icon-contact_information,.icon-cpu_and_concurrent_connection_usage,.icon-createticket,.icon-cron_jobs,.icon-default_address,.icon-directory_privacy,.icon-disk_usage,.icon-domains,.icon-dynamic_dns,.icon-email_accounts,.icon-email_deliverability,.icon-email_disk_usage,.icon-email_filters,.icon-email_routing,.icon-encryption,.icon-error_pages,.icon-errors,.icon-file_manager,.icon-file_restoration,.icon-forwarders,.icon-ftp_accounts,.icon-ftp_connections,.icon-global_email_filters,.icon-greylisting,.icon-hotlink_protection,.icon-images,.icon-imunify-antivirus,.icon-indexes,.icon-ip_blocker,.icon-kopage,.icon-leech_protection,.icon-letsencrypt-cpanel,.icon-logaholic,.icon-lvenodejssel,.icon-lvephpsel,.icon-lvepythonsel,.icon-lveresusage,.icon-lverubysel,.icon-lvexray,.icon-mailing_lists,.icon-manage_calendar_access,.icon-metrics_editor,.icon-mime_types,.icon-mod_security,.icon-multiphp_ini_editor,.icon-multiphp_manager,.icon-mx_entry,.icon-mysql_database_wizard,.icon-mysql_databases,.icon-mysql_manager,.icon-optimize_website,.icon-perl_modules,.icon-php,.icon-php_my_admin,.icon-php_pear_packages,.icon-php_pg_admin,.icon-postgresql_database_wizard,.icon-postgresql_databases,.icon-raw_access,.icon-redirects,.icon-remote_mysql,.icon-ruby_gems,.icon-ruby_on_rails,.icon-scriptactivity,.icon-search_index,.icon-security_policy,.icon-site_publisher,.icon-site_software,.icon-sitereptile,.icon-soft_div_icons,.icon-softaculous,.icon-ssh_access,.icon-ssl_management,.icon-ssl_storage,.icon-ssl_tls,.icon-subdomains,.icon-terminal,.icon-tls_status,.icon-tls_wizard,.icon-track_delivery,.icon-track_dns,.icon-two_factor_authentication,.icon-user_manager,.icon-version_control,.icon-visitors,.icon-web_disk,.icon-web_host_manager,.icon-webalizer,.icon-webalizer_ftp,.icon-wp_softaculous,.icon-zone_editor { background-image: url('img/icon_spritemap.png?retroforwybe'); background-repeat: no-repeat; }
.icon-ShowTickets { background-position: -5px -5px; width: 48px; height: 48px; }
.icon-SiteLock { background-position: -63px -5px; width: 48px; height: 48px; }
.icon-addon_domains { background-position: -263px -295px; width: 33px; height: 32px; }
.icon-address_importer { background-position: -306px -295px; width: 32px; height: 32px; }
.icon-aliases { background-position: -353px -5px; width: 32px; height: 32px; }
.icon-analog_stats { background-position: -353px -47px; width: 32px; height: 32px; }
.icon-anonymous_ftp { background-position: -353px -89px; width: 32px; height: 32px; }
.icon-apache_handlers { background-position: -335px -519px; width: 45px; height: 30px; }
.icon-apache_spam_assassin { background-position: -5px -351px; width: 46px; height: 32px; }
.icon-application_manager { background-position: -353px -173px; width: 32px; height: 32px; }
.icon-archive { background-position: -353px -215px; width: 32px; height: 32px; }
.icon-attracta_cart { background-position: -5px -63px; width: 48px; height: 48px; }
.icon-attracta_cart2 { background-position: -63px -63px; width: 48px; height: 48px; }
.icon-attracta_emailmarketing { background-position: -121px -5px; width: 48px; height: 48px; }
.icon-attracta_emailmarketing3 { background-position: -121px -63px; width: 48px; height: 48px; }
.icon-attracta_getingoogle { background-position: -5px -121px; width: 48px; height: 48px; }
.icon-attracta_increasewebsitetraffic { background-position: -63px -121px; width: 48px; height: 48px; }
.icon-attracta_linkbuilding { background-position: -121px -121px; width: 48px; height: 48px; }
.icon-attracta_seotools { background-position: -179px -5px; width: 48px; height: 48px; }
.icon-attracta_socialmm2 { background-position: -179px -63px; width: 48px; height: 48px; }
.icon-attracta_wpthemes { background-position: -179px -121px; width: 48px; height: 48px; }
.icon-attracta_wpthemes2 { background-position: -5px -179px; width: 48px; height: 48px; }
.icon-attracta_wpvisual { background-position: -63px -179px; width: 48px; height: 48px; }
.icon-authentication { background-position: -353px -257px; width: 32px; height: 32px; }
.icon-autoresponders { background-position: -353px -299px; width: 32px; height: 32px; }
.icon-awstats { background-position: -61px -351px; width: 32px; height: 32px; }
.icon-backup { background-position: -103px -351px; width: 32px; height: 32px; }
.icon-backup_wizard { background-position: -145px -351px; width: 45px; height: 32px; }
.icon-bandwidth { background-position: -200px -351px; width: 32px; height: 32px; }
.icon-boxtrapper { background-position: -242px -351px; width: 35px; height: 32px; }
.icon-calendar_and_contacts { background-position: -287px -351px; width: 32px; height: 32px; }
.icon-change_language { background-position: -329px -351px; width: 32px; height: 32px; }
.icon-change_password { background-position: -395px -5px; width: 32px; height: 32px; }
.icon-change_style { background-position: -395px -47px; width: 32px; height: 32px; }
.icon-clam_av { background-position: -395px -89px; width: 32px; height: 32px; }
.icon-contact_information { background-position: -395px -131px; width: 32px; height: 32px; }
.icon-cpu_and_concurrent_connection_usage { background-position: -395px -173px; width: 32px; height: 32px; }
.icon-createticket { background-position: -121px -179px; width: 48px; height: 48px; }
.icon-cron_jobs { background-position: -395px -215px; width: 32px; height: 32px; }
.icon-default_address { background-position: -395px -257px; width: 32px; height: 32px; }
.icon-directory_privacy { background-position: -395px -299px; width: 32px; height: 32px; }
.icon-disk_usage { background-position: -395px -341px; width: 32px; height: 32px; }
.icon-domains { background-position: -5px -393px; width: 32px; height: 32px; }
.icon-dynamic_dns { background-position: -179px -179px; width: 48px; height: 48px; }
.icon-email_accounts { background-position: -47px -393px; width: 32px; height: 32px; }
.icon-email_deliverability { background-position: -89px -393px; width: 32px; height: 32px; }
.icon-email_disk_usage { background-position: -131px -393px; width: 32px; height: 32px; }
.icon-email_filters { background-position: -173px -393px; width: 32px; height: 32px; }
.icon-email_routing { background-position: -215px -393px; width: 32px; height: 32px; }
.icon-encryption { background-position: -257px -393px; width: 32px; height: 32px; }
.icon-error_pages { background-position: -299px -393px; width: 32px; height: 32px; }
.icon-errors { background-position: -341px -393px; width: 32px; height: 32px; }
.icon-file_manager { background-position: -383px -393px; width: 32px; height: 32px; }
.icon-file_restoration { background-position: -437px -5px; width: 32px; height: 32px; }
.icon-forwarders { background-position: -437px -47px; width: 32px; height: 32px; }
.icon-ftp_accounts { background-position: -437px -89px; width: 32px; height: 32px; }
.icon-ftp_connections { background-position: -437px -131px; width: 32px; height: 32px; }
.icon-global_email_filters { background-position: -437px -173px; width: 32px; height: 32px; }
.icon-greylisting { background-position: -437px -215px; width: 32px; height: 32px; }
.icon-hotlink_protection { background-position: -437px -257px; width: 32px; height: 32px; }
.icon-images { background-position: -437px -299px; width: 32px; height: 32px; }
.icon-imunify-antivirus { background-position: -295px -237px; width: 48px; height: 47px; }
.icon-indexes { background-position: -437px -341px; width: 32px; height: 32px; }
.icon-ip_blocker { background-position: -437px -383px; width: 32px; height: 32px; }
.icon-kopage { background-position: -237px -5px; width: 48px; height: 48px; }
.icon-leech_protection { background-position: -5px -435px; width: 32px; height: 32px; }
.icon-letsencrypt-cpanel { background-position: -237px -63px; width: 48px; height: 48px; }
.icon-logaholic { background-position: -47px -435px; width: 32px; height: 32px; }
.icon-lvenodejssel { background-position: -237px -121px; width: 48px; height: 48px; }
.icon-lvephpsel { background-position: -237px -179px; width: 48px; height: 48px; }
.icon-lvepythonsel { background-position: -5px -237px; width: 48px; height: 48px; }
.icon-lveresusage { background-position: -63px -237px; width: 48px; height: 48px; }
.icon-lverubysel { background-position: -121px -237px; width: 48px; height: 48px; }
.icon-lvexray { background-position: -5px -295px; width: 46px; height: 46px; }
.icon-mailing_lists { background-position: -89px -435px; width: 32px; height: 32px; }
.icon-manage_calendar_access { background-position: -61px -295px; width: 48px; height: 46px; }
.icon-metrics_editor { background-position: -131px -435px; width: 32px; height: 32px; }
.icon-mime_types { background-position: -173px -435px; width: 32px; height: 32px; }
.icon-mod_security { background-position: -215px -435px; width: 32px; height: 32px; }
.icon-multiphp_ini_editor { background-position: -257px -435px; width: 32px; height: 32px; }
.icon-multiphp_manager { background-position: -299px -435px; width: 32px; height: 32px; }
.icon-mx_entry { background-position: -341px -435px; width: 32px; height: 32px; }
.icon-mysql_database_wizard { background-position: -60px -519px; width: 45px; height: 31px; }
.icon-mysql_databases { background-position: -115px -519px; width: 45px; height: 31px; }
.icon-mysql_manager { background-position: -170px -519px; width: 45px; height: 31px; }
.icon-optimize_website { background-position: -383px -435px; width: 32px; height: 32px; }
.icon-perl_modules { background-position: -425px -435px; width: 32px; height: 32px; }
.icon-php { background-position: -479px -5px; width: 32px; height: 32px; }
.icon-php_my_admin { background-position: -165px -295px; width: 45px; height: 34px; }
.icon-php_pear_packages { background-position: -479px -47px; width: 32px; height: 32px; }
.icon-php_pg_admin { background-position: -5px -477px; width: 50px; height: 32px; }
.icon-postgresql_database_wizard { background-position: -225px -519px; width: 45px; height: 31px; }
.icon-postgresql_databases { background-position: -479px -89px; width: 32px; height: 32px; }
.icon-raw_access { background-position: -479px -131px; width: 32px; height: 32px; }
.icon-redirects { background-position: -65px -477px; width: 33px; height: 32px; }
.icon-remote_mysql { background-position: -280px -519px; width: 45px; height: 31px; }
.icon-ruby_gems { background-position: -479px -173px; width: 32px; height: 32px; }
.icon-ruby_on_rails { background-position: -479px -215px; width: 32px; height: 32px; }
.icon-scriptactivity { background-position: -179px -237px; width: 48px; height: 48px; }
.icon-search_index { background-position: -237px -237px; width: 48px; height: 48px; }
.icon-security_policy { background-position: -479px -257px; width: 32px; height: 32px; }
.icon-site_publisher { background-position: -479px -299px; width: 32px; height: 32px; }
.icon-site_software { background-position: -479px -341px; width: 32px; height: 32px; }
.icon-sitereptile { background-position: -295px -5px; width: 48px; height: 48px; }
.icon-soft_div_icons { background-position: -295px -63px; width: 48px; height: 48px; }
.icon-softaculous { background-position: -295px -121px; width: 48px; height: 48px; }
.icon-ssh_access { background-position: -108px -477px; width: 37px; height: 32px; }
.icon-ssl_management { background-position: -479px -383px; width: 32px; height: 32px; }
.icon-ssl_storage { background-position: -479px -425px; width: 32px; height: 32px; }
.icon-ssl_tls { background-position: -155px -477px; width: 32px; height: 32px; }
.icon-subdomains { background-position: -197px -477px; width: 43px; height: 32px; }
.icon-terminal { background-position: -521px -215px; width: 32px; height: 25px; }
.icon-tls_status { background-position: -250px -477px; width: 32px; height: 32px; }
.icon-tls_wizard { background-position: -292px -477px; width: 32px; height: 32px; }
.icon-track_delivery { background-position: -334px -477px; width: 32px; height: 32px; }
.icon-track_dns { background-position: -376px -477px; width: 32px; height: 32px; }
.icon-two_factor_authentication { background-position: -418px -477px; width: 32px; height: 32px; }
.icon-user_manager { background-position: -460px -477px; width: 32px; height: 32px; }
